h2 {
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

p {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	font-family: Helvetice;
	color: black;
}

.container{
    width: 100%;
}

.container ul li{
    float:left;
    list-style: none;
    width:27%;
    height:300px;
    background: #999999;
    margin :20px 0px 20px 55px; 
    border:2px solid black;
    box-sizing: border-box;
}

.container ul li .bottom{
    width: 100%;
    height:50px;
    color:black;
    font-size: 15px;
   
}

.bottomp{
    width: 50%;
    height:50px;
   background: #D59898;
   font-family: "Lucida Console", Monaco, monospace;
   border:2px solid black;
   text-align:center;
   float: right;
}

.bottomp2{
    width: 50%;
    height:50px;
    font-family: "Lucida Console", Monaco, monospace;
   background: #C14543;
   border:2px solid black;   
   text-align:center;
   float: right;
}

.bottomp3{
    width: 50%;
    height:50px;
    font-family: "Lucida Console", Monaco, monospace;
   background: #E5D198;
   border:2px solid black;
   text-align:center;
   float: right;
}

@media screen and (max-width:1250px){
    .container ul li{
        width:40%;
        margin-left: 40px;
         
    }
